<nav class="shadow navbar navbar-expand-lg navbar-dark bg-info text-white">

    <a title="Inicio" routerLink="/"><img src="assets/img/logoPeque.png" alt="/" width="120px" style="padding:10px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/alumnos"><i class="fas fa-users"></i> Alumnos | </a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/lista"><i class="fas fa-book"></i> Biblioteca | </a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/zona"><i class="fas fa-calendar-alt"></i> Reserva Aulas | </a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" routerLink="/actExtra"><i class="fas fa-running"></i> Actividades extraescolares | </a>
        </li>
        <li class="nav-item" *ngIf="!isLogged">
            <a class="nav-link"  routerLink="/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
          </li>
        <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
          <a class="nav-link" style="cursor: pointer;"><i class="fas fa-door-open" ></i> Cerrar Sesión</a>
        </li>

      </ul>
    </div>
  </nav>
