<app-menu></app-menu>

<div class="card-group text-center">
  <div class="card">
    <div class="card-body">
      <i class="fas fa-bread-slice"></i>
      <h3 displayclass="card-title">{{dietas[0].nombreDieta}}</h3>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-success btn-lg" (click)="inscribe(1)">Seleccionar dieta</button>

    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <i class="fas fa-cow"></i>
      <h3 class="card-title">{{dietas[1].nombreDieta}}</h3>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-success btn-lg" (click)="inscribe(2)">Seleccionar dieta</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <i class="fas fa-dna"></i>
      <h3 class="card-title">{{dietas[2].nombreDieta}}</h3>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-success btn-lg" (click)="inscribe(3)">Seleccionar dieta</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <i class="fas fa-carrot"></i>
      <h3 class="card-title">{{dietas[3].nombreDieta}}</h3>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-success btn-lg" (click)="inscribe(4)">Seleccionar dieta</button>
    </div>
  </div>
  </div>
<app-footer></app-footer>
