<app-menu></app-menu>
<div class="container">
    <div>
       <img src="assets/img/biblioteca.png" alt="..." width="100%" style="padding:10px">
    </div>
    <div class="content text-info">
  			<h1>Biblioteca</h1>
  			<hr/>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-sm table-bordered">
        <tr  class="table-info text-center">
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Temática</th>
          <th scope="col">Estado</th>
          <th scope="col">Alquilado</th>
          <th scope="col">Usuario</th>
          <th scope="col">Fecha alquiler</th>
          <th scope="col">Fecha devolucion</th>
          <th scope="col">Alquilar</th>
          <th scope="col">Ver</th>
          <th scope="col" *ngIf="isAdmin"> Editar | Borrar</th>
        </tr>
      <tbody class="text-center">
        <tr *ngFor="let libro of libros">
          <td>{{libro.id}}</td>
          <td>{{libro.nombre}}</td>
          <td>{{libro.categoria}}</td>
          <td *ngIf="libro.estado == 'NUEVO'" class="text-success"> <i class="fas fa-arrow-up"></i> {{libro.estado}}</td>
          <td *ngIf="libro.estado == 'SEMINUEVO'" class="text-warning"> <i class="fas fa-arrow-right"></i> {{libro.estado}}</td>
          <td *ngIf="libro.estado == 'USADO'" class="text-danger"> <i class="fas fa-arrow-down"></i> {{libro.estado}}</td>
          <td *ngIf="libro.estado == 'NO_APTO'" class="text-secondary"> <i class="fas fa-arrows-alt"></i> {{libro.estado}}</td>
          <td *ngIf="libro.alquilado == 'DISPONIBLE'" class="text-success">{{libro.alquilado}}</td>
          <td *ngIf="libro.alquilado == 'ALQUILADO'" class="text-danger">{{libro.alquilado}}</td>
          <td>{{libro.usuario}}</td>
          <td>{{libro.fechaAlquiler}}</td>
          <td>{{libro.fechaDevolucion}}</td>
          <td *ngIf="libro.alquilado == 'DISPONIBLE'"><button class="btn btn-success" (click)="alquilar(libro.id)">Alquilar</button></td>
          <td *ngIf="libro.usuario === nombreUsuario; else loggedOut"><button class="btn btn-danger" (click)="alquilar(libro.id)">Devolver</button></td>
          <ng-template #loggedOut>
          <td *ngIf="libro.usuario !== ''"><button class="btn btn-danger" (click)="alquilar(libro.id)" disabled>Devolver</button></td>
          </ng-template>
          <td><button class="btn btn-primary" routerLink="/detalle/{{libro.id}}"><i class="fas fa-info"></i></button></td>
          <td *ngIf="isAdmin">
          <button class="btn btn-warning" routerLink="/editar/{{libro.id}}"><i class="far fa-edit"></i></button> |
          <button class="btn btn-danger" (click)="borrar(libro.id)"><i class="far fa-trash-alt"></i></button></td>
        </tr>
      </tbody>
  </table>
  </div>
  <div>
    <table>
      <tr>
        <th>Estados</th>
      </tr>
      <tr>
        <td class="text-success"> <i class=" fas fa-arrow-up"></i> NUEVO </td>
      </tr>
      <tr>
        <td class="text-warning"> <i class="fas fa-arrow-right"></i> SEMINUEVO</td>
      </tr>
      <tr>
        <td class="text-danger"> <i class="fas fa-arrow-down"></i> USADO</td>
      </tr>
      <tr>
        <td class="text-secondary"> <i class="fas fa-arrows-alt"></i> NO_APTO</td>
      </tr>
    </table>
  </div>
  <div class="mt-3" *ngIf="isAdmin">
    <button class="btn btn-outline-success btn-lg" routerLink="/nuevo">
      <i class="fas fa-plus-circle"></i> Nuevo Libro</button>
  </div>


</div>

<app-footer></app-footer>
